body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  overflow-y: auto;
}

#form-sub-upd {
  width: 100%;
  height: 80%;
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section-upd {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #ffffff;
}

h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-grid-upd {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.form-grid-upd .input-form,
.nome-form {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.input-form:disabled,
.nome-form:disabled {
  background: #e9ecef;
  color: black;
  cursor: not-allowed;
}
.btn-add {
  width: 50%;
  align-self: flex-end;
}

.btn-add,
.btn-cancelar,
.btn-incluir {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn-cancelar,
.btn-incluir {
  width: 23%;
}
.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-editar {
  background-color: yellow;
  color: black;
}

.btn-add:hover {
  background-color: #218838;
}
.btn-editar:hover {
  background-color: yellow;
}

.btn-cancelar {
  background-color: #dc3545;
  color: white;
}

.btn-cancelar:hover {
  background-color: #c82333;
}

.btn-incluir {
  background-color: #007bff;
  color: white;
}

.btn-incluir:hover {
  background-color: #0056b3;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tabela-container-upd {
  margin-top: 2%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background: white;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: center;
}

.mensagem-vazia {
  text-align: center;
  font-style: italic;
  color: #777;
  padding: 10px;
}

.btn-excluir {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  transition: 0.3s;
}

.btn-excluir:hover {
  background-color: darkred;
}

.input-edit {
  text-align: center;
  width: auto;
}
